.freqInputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.freqInputContainer select {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
}

.freqInputContainer:hover select,
.freqInputContainer:focus-within select {
    display: block;
}

.freqInputContainer input[title="min"],
.freqInputContainer input[title="max"] {
    width: 45px;
}